* {
  transition:all .5s ease-in-out;
  --lightgreen:green;
  --darkgreen:palegreen;
}

html {
  height: 100%;
  font-family: Spotify Circular;
  overflow:none;
  display: table;
  margin: auto;
}

body {
  background-size: cover!important;
  background:#1DB954;
}

canvas {
  opacity:0.1;
}

br, .material-icons {
  user-select:none;
}

.blur {
  position:fixed;
  top:0;
  left:0;
  backdrop-filter:blur(5vh);
  width:100vw;
  height:100vh;
  z-index:0;
}

.gradient {
  position:fixed;
  top:0;
  left:0;
  background:linear-gradient(0deg, black, transparent);
  width:100vw;
  height:100vh;
  z-index:0;
}

body {
  display: table-cell;
  vertical-align: middle;
}

#login-page {
  color:white;
  margin-left:-45vw;
}



#login-page > div > span {
  position:relative;
  z-index:10!important;
}

@keyframes example {
  0% {box-shadow: 0 0 0px green;}
  25% {box-shadow: 0 0 0px green;}
  50% {box-shadow: 0 0 50px green;}
  100% {box-shadow: 0 0 50px green;}
}

* inputer input::before {
  content:'no ';
  padding-left:90px!important;
}


* input:not([type]):focus:not([readonly]) + label,
input[type="text"]:focus:not([readonly]) + label,
input[type="password"]:focus:not([readonly]) + label,
input[type="email"]:focus:not([readonly]) + label,
input[type="url"]:focus:not([readonly]) + label,
input[type="time"]:focus:not([readonly]) + label,
input[type="date"]:focus:not([readonly]) + label,
input[type="datetime"]:focus:not([readonly]) + label,
input[type="datetime-local"]:focus:not([readonly]) + label,
input[type="tel"]:focus:not([readonly]) + label,
input[type="number"]:focus:not([readonly]) + label,
input[type="search"]:focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: rgba(0,0,0,0) !important;
}

* input:not([type]):focus:not([readonly]),
input[type="text"]:focus:not([readonly]),
input[type="password"]:focus:not([readonly]),
input[type="email"]:focus:not([readonly]),
input[type="url"]:focus:not([readonly]),
input[type="time"]:focus:not([readonly]),
input[type="date"]:focus:not([readonly]),
input[type="datetime"]:focus:not([readonly]),
input[type="datetime-local"]:focus:not([readonly]),
input[type="tel"]:focus:not([readonly]),
input[type="number"]:focus:not([readonly]),
input[type="search"]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid rgba(0,0,0,0) !important;
  box-shadow: 0 1px 0 0 rgba(0,0,0,0) !important;
}
#slide {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 2s;
  animation: slide 0.5s forwards;
}

* a.material-icons.e:hover {
  color: var(--darkgreen) !important;
}

*::selection {
  background:var(--darkgreen);
  transition:all 1s ease-in-out;
}

@-webkit-keyframes slide {
  100% {
    left: 0;
  }
}

@keyframes slide {
  100% {
    left: 0;
  }
}

img, inputer .card {
  border-radius: 10px;
}

img {
  user-select:none;
}

.chip {
  user-select:text;
}

.song-name {
  text-overflow: ellipse;
}

code {
  background:black;
  padding:2px;
  border-radius:2px;
  color:white;
}

.alertify .ajs-footer .ajs-buttons .ajs-button.ajs-ok {
  color:green!important;
}

.ajs-dialog {
  max-width:800px!important;
}

a:hover {
  cursor:pointer;
}

@keyframes border {
  from { border: 3px solid var(--darkgreen); }
  to { border: 3px solid var(--lightgreen); }
}

.card{
  transition:all .25s ease-in-out;
  background-color: rgba(0,0,0,23%)!important;
}

.e {
  transition:all .25s ease-in-out!important;
}

@font-face {
  font-family:Spotify Circular;
  font-weight:800;
  src: url(https://cdn.glitch.me/362ef2ab-55b7-48f2-a211-2949d088ad46%2FCircularSpUIv3T-Bold.woff2?v=1638197009584);
}

@font-face {
  font-family:Spotify Circular;
  font-weight:900;
  src: url(https://cdn.glitch.me/362ef2ab-55b7-48f2-a211-2949d088ad46%2FCircularSpUIv3T-Black.woff2?v=1638197009584);
}

@font-face {
  font-family:Spotify Circular;
  font-weight:300;
  src: url(https://cdn.glitch.me/362ef2ab-55b7-48f2-a211-2949d088ad46%2FCircularSpUIv3T-Light.woff2?v=1638197009584);
}

@font-face {
  font-family:Spotify Circular;
  font-weight:400;
  src: url(https://cdn.glitch.me/362ef2ab-55b7-48f2-a211-2949d088ad46%2FCircularSpUIv3T-Book.woff2?v=1638197009584);
}

h1, h2, h3, h4, h5, h6 {
  font-weight:900;
  font-size:40px;
  margin:0;
}

p {
  margin:10px;
  margin-left:0;
  margin-right:0;
}

a{
  text-decoration:none;
  color:var(--darkgreen);
}

.logo {
  position:fixed;
  z-index:5;
  top:30;
  left:30;
  filter:contrast(0) brightness(1.4);
}

.devicename {
  color:var(--lightgreen);
  position:fixed;
  top:35;
  left:95;
}

#device {
  position:fixed;
  top:55;
  left:95;
}

.album, #album-img {
  display:inline;
}

.song-name {
  display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
overflow: hidden;
text-overflow: ellipsis;
}

.cont {
  float:right;
  position:fixed;
  padding-left:20px;
}

.e {
  horizontal-align:middle;
}

.vruh {
  margin-left: auto;
  margin-right: auto;
  display:block;
  position:fixed;
  left:45vw;
}

.no {
  width:100vw;
  margin-left:21vw;
}

@media only screen and (max-width: 800px) { 
  #login-page {
    margin-left:0;
  }
  
  .logo {
    display:none;
  }
  
  .album {
    width:40vw;
  }
  
  .cont {
    float:none;
    position:relative;
    padding-left:0px;
  }
  
  .devicename, #device {
    display:none;
  }
  
  .ye {
    width:40vw;
    margin-left:-15vw;
  }
  
  .no {
    width:40vw!important;
  }
  
  .song-name {
    width:40vw;
  }
  
  .vruh {
    margin-left: 0;
    margin-right: 0;
    display:block;
    position:static;
  }
}

@media only screen and (max-height: 150px) { 
  .logo {
    display:none;
  }
  
  .devicename, #device {
    display:none;
  }
}

.progress {
      display:inline;
      justify-content: space-between;
      align-items: center;
      width: calc(max-content - 20vw);
      margin: 0;
    }

    .progress-bar {
      position: relative;
      display:inline-block;
      width:100%;
      height: 5px;
      background-color: #eee;
      vertical-align: 2px;
      border-radius: 3px;
      cursor: pointer;
    }

    .now {
      position: absolute;
      left: 0;
      display: inline-block;
      height: 5px;
      background: #31c27c;
      border-radius: 3px;
    }